<div id="userlist" class="card grid align-items-start w-100 h-100">
  <div id="list-table" class="g-row-1_-1 g-col-1_-1 grid h-100 p-1 w-100">
    <div
      id="list-table_head "
      class="g-col-1_-1 g-row-1_2 flex h-100 w-100 align-items-center justify-content-between"
    >
      <div
        id="heading-title "
        class="flex fs-2xl flex align-items-center h-100 w-100 justify-items-start"
      >
        <h3 class="fs-3xl pr-2">Team members</h3>
        <app-badge [data]="'100 users'"></app-badge>
      </div>

      <div>
        <div class="icon justify-self-flex-end align-self-flex-start m-1">
          <svg
            class=""
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linejoin="round"
              stroke-width="3"
              d="M12 12h.01v.01H12zm0-7h.01v.01H12zm0 14h.01v.01H12z"
            />
          </svg>
        </div>
      </div>
    </div>

    <div
      class="listing grid align-items-start justify-content-center h-100 w-100 g-col-1_-1 g-row-2_-1"
    >
      <div
        id="list-head"
        class="bg-gray-100 g-col-1_-1 g-row-1_2 list-grid w-100 py-_50 h-auto align-items-center border-b-gray text-center align-self-end justify-content-flex-start fs-lg fw-6 text-gray-700"
      >
        <input type="checkbox" class="checkbox g-row-1_-1 g-col-1_2 radius-1" />
        <span class="g-row-1_-1 g-col-2_4">Name</span>
        <span
          class="g-row-1_-1 g-col-4_5 flex align-items-center justify-content-center"
          >Status
          <span class="mt-_50"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 21 21"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m6.5 13.499l4 4.001l4-4.001m-4 4.001v-13"
              />
            </svg>
          </span>
        </span>
        <span
          class="mr-auto g-row-1_-1 g-col-5_6 flex align-items-center justify-content-center"
          >Role
          <span class="mt-_50"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 8.75c-.69 0-1.25.56-1.25 1.25v.107a.75.75 0 1 1-1.5 0V10A2.75 2.75 0 0 1 12 7.25h.116a2.634 2.634 0 0 1 1.714 4.633l-.77.66a.9.9 0 0 0-.31.674v.533a.75.75 0 0 1-1.5 0v-.533c0-.697.304-1.359.833-1.812l.771-.66a1.134 1.134 0 0 0-.738-1.995zM12 17a1 1 0 1 0 0-2a1 1 0 0 0 0 2"
              />
              <path
                fill="currentColor"
                d="M3.25 12a8.75 8.75 0 1 1 17.5 0a8.75 8.75 0 0 1-17.5 0M12 4.75a7.25 7.25 0 1 0 0 14.5a7.25 7.25 0 0 0 0-14.5"
              /></svg
          ></span>
        </span>
        <span class="g-row-1_-1 g-col-6_8 justify-self-center"
          >Email address</span
        >
        <span class="g-row-1_-1 g-col-8_-1">Teams</span>
      </div>

      <div id="list" class="g-col-1_-1 h-100 w-100 g-row-2_12">
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
        <app-list class="w-100"></app-list>
      </div>
      <app-pagination-bar
        class="g-col-1_-1 g-row-12_-1 align-self-end"
      ></app-pagination-bar>
    </div>
  </div>
</div>
