@import "variables";

.nav {
  justify-content: space-between;
  align-self: flex-start;
  height: 100%;

  .nav-actions {
    margin-bottom: 5rem;
  }
  .other-actions {
    justify-content: space-evenly;
  }
}
