/* layouts */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-2 {
  flex-grow: 2;
}

.grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

/* Layout alignments */
$align-self-values: (
  auto,
  start,
  end,
  center,
  stretch,
  baseline,
  flex-end,
  flex-start
);

@each $val in $align-self-values {
  .align-self-#{$val} {
    align-self: $val;
  }
  .justify-self-#{$val} {
    justify-self: $val;
  }
}

$justify-map: (
  start: start,
  end: end,
  center: center,
  stretch: stretch,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  left: left,
  right: right,
  normal: normal,
);

@each $key, $val in $justify-map {
  .justify-items-#{$key} {
    justify-items: $val;
  }
  .align-items-#{$key} {
    align-items: $val;
  }
}

// Justify Content
@each $key, $val in $justify-map {
  .justify-content-#{$key} {
    justify-content: $val;
  }
  .align-content-#{$key} {
    align-content: $val;
  }
}

/* Displays */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.none {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll-y;
}

.center-fix {
  transform: translate(-50%, -50%);
}

/* percent heights and widths */

@for $i from 1 through 10 {
  .w-#{$i * 10} {
    width: $i * 10%;
  }

  .h-#{$i * 10} {
    height: $i * 10%;
  }
}

/* viewport heights and widths */
.w-100w {
  width: 100w;
}

.h-100v {
  height: 100vh;
}
.w-100v {
  width: 100vh;
}

/* text alignments */

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* font sizes */

.debug {
  border: 5px solid red;
}
