/* Colors */
$primary-color: #a5a1f9;
$secondary-color: black;
$tertiary-color: black;
$accent-color: black;
$border-color: $primary-color;
$icon-fill: #9698a4;

/* color map */
$colors: (
  primary: $primary-color,
);

$stroke-color: #f7f7f7;
$fill-color: $stroke-color;

/* fonts  */

$font-300: "Roboto-300";
$font-400: "Roboto-400";
$font-500: "Roboto-500";
