@import "colors";
@import "loops";
@import "utilities";
@import "fonts";
@import "variables";
@import "test";

:root {
  font-size: 84.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-400;
  letter-spacing: 1px;
}

body {
  max-height: 1980px;
}
