<div
  class="flex align-items-center text-bold text-gray-600 justify-content-between"
>
  <button class="btn flex p-1 h-100 align-items-center justify-content-center">
    <svg
      class="m-0"
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="200"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M11 18.75a.74.74 0 0 1-.53-.22l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 1.06L6.06 12l5.47 5.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z"
      />
      <path
        fill="currentColor"
        d="M19 12.75H5a.75.75 0 0 1 0-1.5h14a.75.75 0 0 1 0 1.5Z"
      />
    </svg>
    <p class="fs-xl text-gray-600 fw-6">Previous</p>
  </button>
  <div
    class="fs-xl flex align-items-center justify-content-between w-30 mx-auto"
  >
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>
      <span class="fs-xs">&#9210;</span>
      <span class="fs-xs">&#9210;</span>
      <span class="fs-xs">&#9210;</span>
    </span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
  </div>
  <button
    class="btn flex fs-lg align-items-center p-1 h-100 justify-content-center"
  >
    <p class="fs-xl text-gray-600 fw-6">Next</p>
    <span
      ><svg
        class="m-0"
        xmlns="http://www.w3.org/2000/svg"
        width="200"
        height="200"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        /></svg
    ></span>
  </button>
</div>
