.greetings h2 {
  font-size: 3rem;
}
.btn {
  svg {
    margin: 0rem 0.5rem 0rem 0.25rem;
    // height: 2rem;
    // width: 2rem;
    position: relative;
    stroke-width: 1.5rem;
    stroke: gray;
    fill: gray;
  }
}
