<div class="greetings">
  <h2>Welcome back, Olivia</h2>
</div>
<div id="controls" class="flex align-items-center justify-content-center h-100">
  <span class="search block m-1 height-3xl">
    <svg
      class="my-auto height-3xl"
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="200"
      viewBox="0 0 24 24"
    >
      <path
        class="h-100"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="m16.893 16.92l3.08 3.08m-.889-8.419c0 4.187-3.383 7.581-7.556 7.581c-4.172 0-7.555-3.394-7.555-7.58C3.973 7.393 7.356 4 11.528 4c4.173 0 7.556 3.394 7.556 7.581Z"
      />
    </svg>
  </span>

  <button
    class="customize flex h-70 align-items-center justify-content-center btn mr-2"
  >
    <span class="block">
      <!-- class="height-xl" -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          color="currentColor"
        >
          <path d="M21 17.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0" />
          <path
            d="M17.5 14h-11a3.5 3.5 0 1 0 0 7h11a3.5 3.5 0 1 0 0-7M3 6.5a3.5 3.5 0 1 0 7 0a3.5 3.5 0 0 0-7 0"
          />
          <path d="M6.5 3h11a3.5 3.5 0 1 1 0 7h-11a3.5 3.5 0 1 1 0-7" />
        </g>
      </svg>
    </span>
    <p class="fs-xl font-bold">Customize</p>
  </button>

  <button class="export flex align-items-center justify-content-center btn p-1">
    <span>
      <svg viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m11.966 11.136l-.004 8M19.825 17c4.495-3.16.475-7.73-3.706-7.73C13.296-1.732-3.265 7.368 4.074 15.662m11.07 1.156L11.962 20L8.78 16.818"
        />
      </svg>
    </span>
    <p class="fs-xl font-bold">Export</p>
  </button>
</div>
